@import url("./palette/catppuccin-mocha.css");

:root {
    --uc-tab-min-height: ;
    --uc-tab-inactive-max-width: calc(225px / 2);
    --uc-tab-border-radius: 8px;
    --uc-tab-margin: 4px;
    --uc-tab-outline-width: 2px;
    --uc-tab-inactive-opacity: 0.55;
    --uc-tab-transition: 150ms ease-out;

    --uc-urlbar-box-text-color: var(--toolbarbutton-icon-fill);
    --uc-urlbar-box-hover-bgcolor: color-mix(
        in srgb,
        var(--ctp-surface0) 80%,
        transparent
    );
    --uc-urlbar-box-hover-text-color: ;
    --uc-urlbar-box-active-bgcolor: color-mix(
        in hsl,
        var(--toolbarbutton-icon-fill) 90%,
        var(--tabpanel-background-color)
    );
    --uc-urlbar-active-text-color: var(--tabpanel-background-color);

    --uc-focus-outline-color: var(--toolbar-field-focus-border-color);

    --uc-toolbarbutton-badge-bgcolor: var(
        --lwt-toolbarbutton-icon-fill-attention
    );
    --uc-toolbarbutton-badge-color: var(--tabpanel-background-color);
    --uc-toolbarbutton-border-radius: 8px;

    --uc-tab-icon-overlay-fill: var(--lwt-tab-text);

    /* --uc-menu-background: var(--arrowpanel-background);
    --uc-menu-color: var(--arrowpanel-color);
    --uc-menu-border-color: var(--arrowpanel-border-color);
    --uc-menuitem-hover-background-color: color-mix(
        in srgb,
        currentColor 11%,
        transparent
    );
    --uc-menu-disabled-color: var(--panel-disabled-color);
    --uc-menuitem-disabled-hover-background-color: var(
        --uc-menuitem-hover-background-color
    ); */

    --uc-bookmarks-height: ; /* Might need to adjust if the toolbar has other buttons */
    --uc-bookmarks-padding: 4px; /* Vertical padding to be applied to bookmarks */
    --uc-autohide-toolbar-delay: 300ms;
    /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
    --uc-autohide-toolbar-focus-rotation: 0deg; /* urlbar is focused */
    --uc-autohide-toolbar-hover-rotation: 0deg; /* cursor is over the toolbar area */

    /* identity colors */
    --uc-identity-toolbar: var(--ctp-text);
    --uc-identity-blue: var(--ctp-sapphire);
    --uc-identity-turquoise: var(--ctp-teal);
    --uc-identity-green: var(--ctp-green);
    --uc-identity-yellow: var(--ctp-yellow);
    --uc-identity-orange: var(--ctp-peach);
    --uc-identity-red: var(--ctp-red);
    --uc-identity-pink: var(--ctp-pink);
    --uc-identity-purple: var(--ctp-mauve);
}

@media (-moz-platform: windows) {
    :root {
        --uc-tab-min-height: 32px;
        --uc-bookmarks-height: 22px;
    }
}

@media (-moz-platform: linux) {
    :root {
        --uc-tab-min-height: 34px;
        --uc-bookmarks-height: 25px;
    }
}