@import url("./uc-globals.css");

#sidebar-box[sidebarcommand^="containertabs"] #sidebar-header {
    display: none !important;
}

toolbarbutton[label="Hydrus Companion"] {
    background-color: transparent !important;
}

#tab-nav-tooltip-textbox {
    max-width: 300px;
}

/* hides all tabs button. get an extension to show it instead */
#tabbrowser-tabs ~ #alltabs-button {
    display: none !important;
}

#urlbar-results [dynamicType="quickactions"] {
    display: none !important;
}

:is(.customization-target, .widget-overflow-list)
    :is(toolbarbutton, toolbaritem):not([attention])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    color: var(--uc-toolbar-bgcolor) !important;
}

box#sidebar-header {
    display: none !important;
}

#urlbar-input-container[contextid] {
    background-color: color-mix(
        in srgb,
        transparent 75%,
        var(--identity-tab-color)
    ) !important;
}

#urlbar[open] #urlbar-input-container[contextid] {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#urlbar[open]
    > #urlbar-input-container[contextid]
    ~ .urlbarView
    > .urlbarView-body-outer
    > .urlbarView-body-inner {
    border-color: transparent !important;
}

.eom-addon-button[message-type="warning"] {
    background-color: unset !important;
}

#statuspanel:not([mirror])
    > #statuspanel-inner
    > #statuspanel-label:-moz-locale-dir(ltr),
#statuspanel[mirror]
    > #statuspanel-inner
    > #statuspanel-label:-moz-locale-dir(rtl) {
    background-color: var(--uc-toolbar-bgcolor) !important;

    border-top-right-radius: 5px !important;
}

#statuspanel {
    border-right: 1px solid #585b70 !important;
    border-top: 1px solid #585b70 !important;
    border-top-right-radius: 5px !important;
    --tooltip-border-radius: 5px;
}

#statuspanel-label {
    background: var(--uc-toolbar-bgcolor) !important;
    color: var(--ui-text-100) !important;
    border-top-right-radius: 5px !important;
    /* border-radius: 0px 5px 0px 0px !important; */
}

tooltip > description,
.places-tooltip-box,
tooltip .uc-tooltip-box,
menupopup > arrowscrollbox {
    border: 1px solid #585b70 !important;
}
