/* https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_bookmarks_toolbar.css */

:root[uidensity="touch"] #PersonalToolbar {
    --uc-bookmarks-padding: 7px;
}

#PersonalToolbar:not([customizing]) {
    position: relative;
    margin-bottom: calc(-1px - var(--uc-bookmarks-height) - 2 * var(--uc-bookmarks-padding));
    transform: rotateX(90deg);
    transform-origin: top;
    transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
    z-index: 1;
}

#PlacesToolbarItems > .bookmark-item,
#OtherBookmarks,
#PersonalToolbar > #import-button {
    padding-block: var(--uc-bookmarks-padding) !important;
}

#nav-bar:focus-within + #PersonalToolbar {
    transition-delay: 100ms !important;
    transform: rotateX(var(--uc-autohide-toolbar-focus-rotation, 0));
}

#navigator-toolbox:hover > #PersonalToolbar {
    transition-delay: 100ms !important;
    transform: rotateX(var(--uc-autohide-toolbar-hover-rotation, 0));
}

#navigator-toolbox:hover > #nav-bar:focus-within + #PersonalToolbar {
    transform: rotateX(0);
}
