.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
    width: var(--uc-tab-margin) !important;
}

.tabbrowser-tab {
    padding: 0 calc(var(--uc-tab-margin) / 2) !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: unset !important;
}

/* remove shadow from selected tabs */
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
#tabbrowser-tabs:not([noshadowfortests])
    .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
}

/* adds borders around tabs */
.tab-background {
    outline: var(--uc-tab-outline-width) solid
        color-mix(in srgb, currentColor 25%, transparent) !important;
    outline-offset: calc(0px - var(--uc-tab-outline-width)) !important;
}

/* multiselected tabs should have colored borders too */
/* #TabsToolbar
    #firefox-view-button[open]:not(:focus-visible)
    > .toolbarbutton-icon:-moz-lwtheme, */
.tab-background[selected]:-moz-lwtheme,
.tab-background[multiselected="true"]:-moz-lwtheme {
    outline: var(--uc-tab-outline-width) solid
        var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
    outline-offset: calc(0px - var(--uc-tab-outline-width)) !important;
}

/* make inactive tabs shorter */
/* https://www.reddit.com/r/FirefoxCSS/comments/brklu0/the_right_way_to_change_your_tab_max_width/ */
.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]):not([selected="true"]) {
    max-width: var(--uc-tab-inactive-max-width) !important;
}

/* inactive tabs are faded */
.tabbrowser-tab:not([selected="true"]):not([pinned]) .tab-content {
    opacity: var(--uc-tab-inactive-opacity);
}

/* for some the close button appears when the first tab on the list is selected; this is a fix (?) */
.tabbrowser-tab:not([pinned="true"]):not([selected="true"])
    > .tab-stack
    > .tab-content
    > .tab-close-button:not([selected="true"]) {
    display: none !important;
}

/* show close button when hovered but not when pinned */
.tabbrowser-tab:not([pinned="true"]):hover
    > .tab-stack
    > .tab-content
    > .tab-close-button:not([selected="true"]) {
    display: block !important;
}

/* container tabs */
/* no top line */
.tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background
    > .tab-context-line {
    display: none;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background,
.tabbrowser-tab[usercontextid]:hover > .tab-stack > .tab-background {
    outline: var(--uc-tab-outline-width) solid
        color-mix(in srgb, var(--identity-tab-color) 50%, transparent) !important;
    background-color: color-mix(
        in srgb,
        var(--identity-tab-color) 15%,
        transparent
    ) !important;
}

.tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background[selected]:-moz-lwtheme,
.tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background[multiselected="true"]:-moz-lwtheme {
    outline: var(--uc-tab-outline-width) solid var(--identity-tab-color) !important;
    background-color: color-mix(
        in srgb,
        var(--identity-tab-color) 11%,
        transparent
    ) !important;
}

.tabbrowser-tab[usercontextid]:-moz-lwtheme {
    color: var(--identity-tab-color) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background[selected="true"]:-moz-lwtheme {
    background-color: color-mix(
        in srgb,
        var(--identity-tab-color) 16%,
        transparent
    ) !important;
    background-image: none !important;
}
